<div *ngIf="book" class="purchase">
  <div class="d-flex align-items-center" style="gap: 32px">
    <div class="purchase__price">{{ book.price }}₽</div>
    <div class="d-flex" style="gap: 12px">
      <button class="pixel__mat-button purchase__button" (click)="addToBasket()" *ngIf="!book.in_basket">Купить</button>
      <button class="pixel__mat-button purchase__button" (click)="removeBasket()" *ngIf="book.in_basket">Убрать из корзины</button>

      <button class="pixel__mat-button purchase__icon" (click)="addToWish()" *ngIf="!book.in_wishes">
        <mat-icon class="pixel__mat-icon" svgIcon="bookmark"></mat-icon>
      </button>

      <button class="pixel__mat-button purchase__icon" (click)="removeWish()" *ngIf="book.in_wishes">
        <mat-icon class="pixel__mat-icon" svgIcon="bookmark-red"></mat-icon>
      </button>
    </div>
  </div>
</div>
