<div class="personal">
  <form class="personal-form" *ngIf="personalForm" [formGroup]="personalForm">
    <div class="personal-form-fields">

      <div class="personal-form-fields__field">
        <label>Фамилия</label>
        <input class="pixel__mat" type="text" formControlName="lastName">
      </div>

      <div class="personal-form-fields__field">
        <label>Имя</label>
        <input class="pixel__mat" type="text" formControlName="firstName">
      </div>

      <div class="personal-form-fields__field">
        <label>Отчество</label>
        <input class="pixel__mat" type="text" formControlName="patronymic">
      </div>

      <div class="personal-form-fields__field">
        <label>Дата рождения</label>
        <input class="pixel__mat" type="date" formControlName="birthDate">
      </div>

      <div class="personal-form-fields__field">
        <label>Телефон</label>
        <input class="pixel__mat" type="tel" formControlName="phone">
      </div>

<!--   FIXME продумать логику смены почты
      <div class="personal-form-fields__field">-->
<!--        <label>E-mail</label>-->
<!--        <input class="pixel__mat" type="email" formControlName="email">-->
<!--      </div>-->
    </div>

    <div class="personal-form__note">
      Чтобы изменить номер телефона, пожалуйста, обратитесь в службу поддержки.
    </div>

    <button class="personal-form__submit-button" type="submit" [disabled]="isSavingButtonDisabled()" (click)="save()">Сохранить изменения</button>

  </form>

  <p class="personal__delete-account-text">
    Удаление профиля <br>
    Чтобы удалить ваш профиль,свяжитесь с нами через обратную связь. <br>
    Пожалуйста, укажите в обращении свой номер телефона «79147795535». <br>
    <br>
    Мы удалим ваш профиль в течение 5 рабочих дней после обращения.
  </p>
</div>
