<div class="personal">
  <div class="personal__info">
    <div class=""></div>
  </div>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput value="Едынак">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput value="Мария">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Отчество</mat-label>
      <input matInput value="Игоревна">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" value="2002-05-16">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Телефон</mat-label>
      <input matInput value="+7 (914) 779-55-35">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" value="v4L.mari@yandex.ru">
    </mat-form-field>

    <p class="note">
      Чтобы изменить номер телефона, пожалуйста, обратитесь в службу поддержки.
    </p>

    <button mat-raised-button color="primary">Сохранить изменения</button>
  </form>
</div>
