:host(app-personal) {
  width: 100%
}

.personal {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__delete-account-text {
    max-width: 80%;
    color: rgb(47, 58, 86);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }
}

.personal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;

    &__field {
      display: flex;
      flex-direction: column;
      letter-spacing: 0;
      text-align: left;
      font-weight: 600;

      label {
        color: rgba(47, 58, 86, 0.5);
        font-size: 20px;
        line-height: 27px;
      }

      input {
        color: rgb(47, 58, 86);
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  &__note {
    color: rgba(47, 58, 86, 0.5);
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }

  &__submit-button {
    border-radius: 10px;
    background: rgb(47, 58, 86);
    color: rgb(246, 246, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    width: fit-content;
    padding: 12px;
    &:disabled {
      background: rgb(42, 33, 33);
    }
  }
}


