.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

h4 {
  color: rgb(47, 58, 86);
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}
