<div class="navbar">

  <div class="pixel__mat-icon__logo">
    <mat-icon [svgIcon]="'pixel-logo'"></mat-icon>
  </div>

  <div class="d-flex flex-column" style="gap: 9px; margin-right: 2%">
    <div class="navbar-search">
      <input class="pixel__mat navbar-search__input" type="text" placeholder="Введите название книги, автора, жанра...">
      <mat-icon class="pixel__mat-icon" [svgIcon]="'search-loupe'"></mat-icon>
    </div>
    <div class="navbar-items">
      <!--      <button class="pixel__mat-button navbar-items__item">Новинки</button>-->
      <!--      <button class="pixel__mat-button navbar-items__item">Популярное</button>-->
      <!--      <button class="pixel__mat-button navbar-items__item">Подборки</button>-->
      <!--      <button class="pixel__mat-button navbar-items__item">Подписка</button>-->
      <!--      <button class="pixel__mat-button navbar-items__item">Бесплатно</button>-->
      <button [routerLink]="''" class="pixel__mat pixel__mat__gradient navbar-items__item">Каталог
      </button>
    </div>

  </div>


  <div class="navbar-icons">

    <!--   //FIXME ИСПРАВИТЬ ПОСЛЕ ДООБАВЛЕНИЯ ЛОГИКИ
            <div class="navbar-icons__icon">-->
    <!--      <mat-icon class="pixel__mat-icon" [svgIcon]="'bookmark'"></mat-icon>-->
    <!--      <div>Закладки</div>-->
    <!--    </div>-->

    <!--    <div class="navbar-icons__icon">-->
    <!--      <mat-icon class="pixel__mat-icon" [svgIcon]="'favorite'"></mat-icon>-->
    <!--      <div>Мои книги</div>-->
    <!--    </div>-->

        <div [routerLink]="'user/orders'" class="navbar-icons__icon">
          <mat-icon class="pixel__mat-icon" [svgIcon]="'basket'"></mat-icon>
          <div>Корзина</div>
        </div>

    <div [routerLink]="'user'" class="navbar-icons__icon">
      <mat-icon class="pixel__mat-icon" [svgIcon]="'profile'"></mat-icon>
      <div>Профиль</div>
    </div>

  </div>


</div>
