body {
  margin: 0;
  font-family: Nunito, sans-serif !important;
}

html, body {
  height: 100%;
  background: #CFCFD7 !important;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pixel__mat {
  background: none;
  padding: 6px;
  box-sizing: border-box;
  border: 3px solid rgb(47, 58, 86);
  border-radius: 10px;

  &__gradient {
    background: linear-gradient(180.00deg, rgb(226, 71, 75), rgb(47, 58, 86) 100%);
    color: rgb(246, 246, 255)!important;
    border: none;
  }
}

.pixel__mat-button {
  border-radius: 10px;
  background: rgb(47, 58, 86);
  color: rgb(246, 246, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  width: fit-content;
  padding: 12px;

  &:disabled {
    background: rgb(42, 33, 33);
  }
}

.pixel__mat-icon {
  cursor: pointer;
  width: 44px !important;
  height: 44px !important;
  z-index: 3;
}

.pixel__mat-icon__logo {
  mat-icon {
    width: 60px;
    height: 45px;
  }
  &:hover {
    cursor: pointer;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
