.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.profile-routes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 16px;
  height: fit-content;
  background: rgba(246, 246, 255, 0.5);

  &__route {
    color: rgba(47, 58, 86, 0.5);
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;

    &__active-link {
      color: rgb(47, 58, 86);
    }

    &:hover {
      cursor: pointer;
    }

  }
}

.profile-info {
  border-radius: 16px;
  background: rgb(246, 246, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 2;
  padding: 20px;
}
